Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Python
R
SQL
C++

Some of the commonly used libraries used by Data Scientists include:
Matplotlib
scipy
Sklearn

Data Science Tools:
Pycharm
Anaconda
Jupyter
google collab

Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
2+3

5

This a simple arithmetic expression to mutiply then add integers.

In [10]:
(3*4)+5

17

In this code cell write an expression that converts

In [26]:
#convert minutes to hours:
m = 200
h = m/60
print('200 minutes =',h,'hour')

200 minutes = 3.3333333333333335 hour

objectives:
. Python
. R
. SQL

In [ ]:
Duy